<section class="background-radial-gradient overflow-hidden">
  <div class="body">
    <div class="card-container">
      <div class="card bg-glass">
        <div class="card-body px-4 py-5 px-md-5">
          <div class="container">
            <div class="row">
              <div class="col">
                <div *ngFor="let item of item">
                  <div  style="width:400px">
                    <img class="card-img-top" src="https://w0.peakpx.com/wallpaper/733/259/HD-wallpaper-hidden-ghost-horror-mask-no-man-scary.jpg" alt="Card image" style="width:80%">
                      <h4 class="card-title">{{ item.name }}</h4>
                      <p>Place: {{ item.place }}</p>
                      <p>Age: {{ item.age }}</p>
                      <p>DOB: {{ item.dob }}</p>
                      <p>Phone Number: {{ item.phoneNumber }}</p>
                      <p>Gmail: {{item.gmail}}</p>
                      <button type="submit" (click)="goBack()" style="width:30%" class="card button " >Go Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
