@import url('https://fonts.googleapis.com/css?family=Eater&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.containerk {
    min-height: 100vh;
    background-color: black;
}

html, body, h1 {
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

.dare h1 {
  color: white;
  font-family: 'Eater', cursive;
  font-size: 50px;
  letter-spacing: 20px;
}

.dare {
  background-color: red;
  height: 100px;
}

@media (max-width: 768px) {
  .dare h1 {
    font-size: 32px; 
    letter-spacing: 5px; 
  }
}

.dare2 {
    background-color: black;
    height: 400px;
}


.drop {
    position: relative;
      width: 20px;
      height: 20px;
    top: -30px;
    margin: 0 auto;
      background: red;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .drop:before {
    content: "";
    position: absolute;
    width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 30px solid red;
    top: -22px;
    left: 0%;
  }
  
  .wave {
    position: relative;
    opacity: 0;
    top: 0;
      width: 2px;
      height: 1px;
    border: red 7px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    margin: 175px auto;
  }
  
  .wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
      width: 2px;
      height: 1px;
    border: red 5px solid;
      -moz-border-radius: 300px / 150px;
      -webkit-border-radius: 300px / 150px;
      border-radius: 300px / 150px;
    -moz-animation-name: ripple-2;
    -webkit-animation-name: ripple-2;
    animation-name: ripple-2;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    margin: 175px auto;
    margin-top: 0px;
  }
  
  @keyframes ripple {
      from {
        opacity: 1;
      }
      to {
        width: 600px;
        height: 300px;
        border-width: 1px;
        top: -100px;
        opacity: 0;
      }
  }
  
  @keyframes ripple-2 {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    100% {
      width: 200px;
      height: 100px;
      border-width: 1px;
      top: 100px;
      left: 200px;
    }
  }
  
  @keyframes drip {
      to {
        top: 190px;
      }
  }

  .item{
    color: white;
  }

  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 900px;
   padding-bottom: 20px;
  }

  .card {
    /* font-family: 'Eater', cursive; */
    background-color: #070707;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 3px;
  }
  
  .card h1{
    font-size:larger;
  }

  .card h3{
    font-size:large;
    /* font-family: "Merienda", cursive; */
  }
  .card h1, .card h3 {
    margin: 10px 0;
  }
  
  /* .card button {
    font-family: "Montserrat", sans-serif;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  /* .card button:hover {
    background-color: #0056b3;
  } */



@media (max-width: 768px) {
  .cards {
    min-width: auto;
    padding: 20px;
  }

  .card {
    width: auto; 
    max-width: 700px;
    margin: 10px;
  }

  .card h1, .card h3 {
    font-size: large;
  }

  /* .card button {
    padding: 8px 16px;
  } */
}
